.team {
    padding: 50px 0;
    background-color: #F7F7FC;
}

.founder {
    background-color: #fff;
    padding: 50px;
    border-radius: 30px;
}

.founder h4 {
    font-size: 40px;
    line-height: 50px;
    color: #000F43;
    margin: 30px 0;
}

.founder p {
    font-size: 20px;
    line-height: 25px;
    color: #3A3B52;
    font-weight: 600;
    margin-bottom: 40px;
    width: 305px;
}

.icons img {
    margin-right: 20px;
}