.mission {
    padding-bottom: 100px;
    background: url("photoImg.png") no-repeat center top;
}

.mission img {
    margin: auto;
}

.numbers {
    justify-content: space-around;
}

.block {
    text-align: center;
    margin: 140px 0;
    padding-top: 170px;
}

.numbers__users span{
    color: #3347FF;
    font-size: 78px;
    line-height: 98px;
}

.numbers__users p {
    font-size: 32px;
    line-height: 40px;
    color: #3A3B52;
}